In [136]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools
from itertools import combinations
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
508,tt0268978,60000000,313542341,A Beautiful Mind,Russell Crowe|Ed Harris|Jennifer Connelly|Chri...,Ron Howard,I need to believe that something extra ordinar...,"At Princeton University, John Nash struggles t...",135,Drama|Romance,Imagine Entertainment|DreamWorks SKG|Universal...,12/11/2001,7.5,2001
1481,tt0381971,50000000,69834815,Curious George,Frank Welker|Will Ferrell|Shane Baumel|Eugene ...,Matthew O'Callaghan,Get Carried Away With The Cutest Little Monkey...,Will Ferrell stars as The Man in the Yellow Ha...,86,Adventure|Animation|Comedy|Family,Imagine Entertainment|Universal Pictures|Unive...,2/10/2006,5.8,2006
171,tt1959490,125000000,362637473,Noah,Russell Crowe|Jennifer Connelly|Emma Watson|Lo...,Darren Aronofsky,The end of the world is just the beginning.,A man who suffers visions of an apocalyptic de...,139,Drama|Adventure,Paramount Pictures|Regency Enterprises|Protozo...,3/20/2014,5.5,2014
867,tt0120804,33000000,102441078,Resident Evil,Milla Jovovich|Michelle Rodriguez|Eric Mabius|...,Paul W.S. Anderson,A secret experiment. A deadly virus. A fatal m...,"When a virus leaks from a top-secret facility,...",100,Horror|Action|Science Fiction,Impact Pictures|Davis-Films|New Legacy|Constan...,3/15/2002,6.3,2002
1549,tt0454082,9000000,21510851,Black Christmas,Katie Cassidy|Michelle Trachtenberg|Kristen Cl...,Glen Morgan,"This holiday season, the slay ride begins.",An escaped maniac returns to his childhood hom...,84,Horror|Thriller,Dimension Films,12/25/2006,5.3,2006

In [3]:
data.describe()  # статитистические данные о данных

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [157]:
answers = {} # создадим словарь для ответов

# Прибыль фильмов - profit 
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [195]:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [20]:
data.original_title[data.budget == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [21]:
# другой вариант решения
data.loc[data['budget'].idxmax()]

imdb_id                                                         tt1298650
budget                                                          380000000
revenue                                                        1021683000
original_title                Pirates of the Caribbean: On Stranger Tides
cast                    Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...
director                                                     Rob Marshall
tagline                                       Live Forever Or Die Trying.
overview                Captain Jack Sparrow crosses paths with a woma...
runtime                                                               136
genres                                           Adventure|Action|Fantasy
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|M...
release_date                                                    5/11/2011
vote_average                                                          6.3
release_year                                                         2011
Name: 723, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [196]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [22]:
data.loc[data['runtime'].idxmax()]

imdb_id                                                         tt0279111
budget                                                           56000000
revenue                                                          12923936
original_title                                          Gods and Generals
cast                    Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...
director                                                Ronald F. Maxwell
tagline                               The nations heart was touched by...
overview                The film centers mostly around the personal an...
runtime                                                               214
genres                                                  Drama|History|War
production_companies                   Turner Pictures|Antietam Filmworks
release_date                                                    2/21/2003
vote_average                                                          5.8
release_year                                                         2003
Name: 1157, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [197]:
answers['3'] = '768. Winnie the Pooh (t1449283)'

data.loc[data['runtime'].idxmin()]

imdb_id                                                         tt1449283
budget                                                           30000000
revenue                                                          14460000
original_title                                            Winnie the Pooh
cast                    Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...
director                                        Stephen Anderson|Don Hall
tagline                                                          Oh Pooh.
overview                During an ordinary day in Hundred Acre Wood, W...
runtime                                                                63
genres                                                   Animation|Family
production_companies    Walt Disney Pictures|Walt Disney Animation Stu...
release_date                                                    4/13/2011
vote_average                                                          6.8
release_year                                                         2011
profit                                                          -15540000
Name: 768, dtype: object

# 4. Какова средняя длительность фильмов?

In [198]:
answers['4'] = '110'

round(data.runtime.mean(),0)

110.0

# 5. Каково медианное значение длительности фильмов?

In [199]:
answers['5'] = '107'

data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [200]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '239. Avatar (tt0499549)'

data.loc[data.profit.idxmax()]

imdb_id                                                         tt0499549
budget                                                          237000000
revenue                                                        2781505847
original_title                                                     Avatar
cast                    Sam Worthington|Zoe Saldana|Sigourney Weaver|S...
director                                                    James Cameron
tagline                                       Enter the World of Pandora.
overview                In the 22nd century, a paraplegic Marine is di...
runtime                                                               162
genres                           Action|Adventure|Fantasy|Science Fiction
production_companies    Ingenious Film Partners|Twentieth Century Fox ...
release_date                                                   12/10/2009
vote_average                                                          7.1
release_year                                                         2009
profit                                                         2544505847
Name: 239, dtype: object

# 7. Какой фильм самый убыточный?

In [201]:
answers['7'] = '1245. The Lone Ranger(tt1210819)'

data.loc[data.profit.idxmin()]

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
Name: 1245, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [202]:
answers['8'] = '1478'

len(data.query('profit>0'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [203]:
answers['9'] = '599. The Dark Knight (tt0468569)'

data.query('release_year==2008').loc[
    data.query('release_year==2008').revenue == 
    data.query('release_year==2008').revenue.max()
]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [204]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

data.query('2012<=release_year<=2014').loc[
    data.query('2012<=release_year<=2014').profit == 
    data.query('2012<=release_year<=2014').profit.min()
]
#data.query('2012<=release_year<=2014').profit.sort_values()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [205]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

df = data.copy()
df['genres'] = df.genres.str.split('|')
Counter(df.genres.explode()).most_common

<bound method Counter.most_common of Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})>

ВАРИАНТ 2

In [168]:
df = data.copy()
df.genres.str.split('|').explode().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [206]:
answers['12'] = 'Drama'

df = data.copy()
df.query('profit>0').genres.str.split('|').explode().value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [207]:
answers['13'] = 'Peter Jackson'

df = data.copy()
df.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [208]:
answers['14'] = 'Robert Rodriguez'

df = data.copy()
df[df['genres'].str.contains('Action')].director.str.split('|').explode().value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [209]:
answers['15'] = 'Chris Hemsworth'

df = data.copy()
df['cast'] = df.cast.str.split('|')
df = df.explode('cast')
df.query('release_year==2012').groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [210]:
answers['16'] = 'Matt Damon'

# Примечание: в фильмах, где бюджет выше среднего по данной выборке.
df = data.copy()
df['cast'] = df.cast.str.split('|')
df = df.explode('cast')
df[df.budget>df.budget.mean()].cast.value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [211]:
answers['17'] = 'Action'

df = data.copy()
df['cast'] = df.cast.str.split('|')
df = df.explode('cast')
df['genres'] = df.genres.str.split('|')
df = df.explode('genres')
df.query('cast=="Nicolas Cage"').genres.value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [212]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

df = data.copy()
df['production_companies'] = df.production_companies.str.split('|')
df = df.explode('production_companies')
df.query('production_companies=="Paramount Pictures"').sort_values(['profit'])

# другой вариант решения
#df[df.production_companies.str.contains('Paramount Pictures')].sort_values(['profit'])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures,11/26/2003,5.1,2003,-60519261
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures,4/24/2007,5.9,2007,-51788987
1623,tt0375173,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,Comedy,Paramount Pictures,10/22/2004,5.4,2004,-46604061
1631,tt0315297,50000000,25195000,Twisted,Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|Dav...,Philip Kaufman,Every murder has a mark.,Recently promoted and transferred to the homic...,97,Action|Adventure|Crime|Drama|Thriller,Paramount Pictures,2/27/2004,5.7,2004,-24805000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,tt1229238,145000000,694713380,Mission: Impossible - Ghost Protocol,Tom Cruise|Jeremy Renner|Simon Pegg|Paula Patt...,Brad Bird,No Plan. No Backup. No Choice.,In the 4th installment of the Mission Impossib...,133,Action|Thriller|Adventure,Paramount Pictures,12/7/2011,6.7,2011,549713380
1738,tt0418279,150000000,709709780,Transformers,Shia LaBeouf|Josh Duhamel|Megan Fox|Rachael Ta...,Michael Bay,Their war. Our world.,"Young teenager, Sam Witwicky becomes involved ...",144,Adventure|Science Fiction|Action,Paramount Pictures,6/27/2007,6.6,2007,559709780
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Paramount Pictures,5/21/2008,5.6,2008,601636033
317,tt1055369,150000000,836297228,Transformers: Revenge of the Fallen,Shia LaBeouf|Megan Fox|Josh Duhamel|Rainn Wils...,Michael Bay,Revenge is coming,Sam Witwicky leaves the Autobots behind for a ...,150,Science Fiction|Action|Adventure,Paramount Pictures,6/19/2009,6.0,2009,686297228
828,tt1399103,195000000,1123746996,Transformers: Dark of the Moon,Shia LaBeouf|John Malkovich|Ken Jeong|Frances ...,Michael Bay,The invasion we always feared. An enemy we nev...,Sam Witwicky takes his first tenuous steps int...,154,Action|Science Fiction|Adventure,Paramount Pictures,6/28/2011,6.1,2011,928746996

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [213]:
answers['19'] = '2015'

df = data.copy()
df.groupby(['release_year'])['revenue'].sum().sort_values()

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2006    14775042320
2005    15309425558
2004    15663430720
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [214]:
answers['20'] = '2014'

df = data.copy()
df[df.production_companies.str.contains('Warner Bros')]\
.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [215]:
answers['21'] = 'Сентябрь'

df = data.copy()
df['release_date'] = df['release_date'].str.split('/')
df['release_month'] = df.release_date.apply(lambda x: x[0])
df.groupby(['release_month'])['release_month'].count().sort_values(ascending=False).index[0]

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [216]:
answers['22'] = '450'

df = data.copy()
df['release_date'] = df['release_date'].str.split('/')
df['release_month'] = df.release_date.apply(lambda x: x[0]).apply(pd.to_numeric)
df.query('6<=release_month<=8').groupby(['release_month'])['release_month'].count().sum()
#in ["5","6","7"]'

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [217]:
answers['23'] = 'Peter Jackson'

df = data.copy()
df['release_date'] = df['release_date'].str.split('/')
df['release_month'] = df.release_date.apply(lambda x: x[0]).apply(pd.to_numeric)
df['director'] = df.director.str.split('|')
df = df.explode('director')
df.query('release_month in [1,2,12]').groupby(['director'])['original_title']\
    .count().sort_values(ascending=False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [218]:
answers['24'] = 'Four By Two Productions'

df = data.copy()
df['length_title'] = df.original_title.apply(len)
df['production_companies'] = df.production_companies.str.split('|')
df = df.explode('production_companies')
df.groupby(['production_companies'])['length_title'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: length_title, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [219]:
answers['25'] = 'Midnight Picture Show'

df = data.copy()
df['length_overview'] = df.overview.apply(len)
df['production_companies'] = df.production_companies.str.split('|')
df = df.explode('production_companies')
df.groupby(['production_companies'])['length_overview'].mean().sort_values(ascending=False)
#пример описания Midnight df[df.production_companies.str.contains('Midnight')].overview[315]

production_companies
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
Projection Pictures                        74.0
London Boulevard                           74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Name: length_overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [220]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

df = data.copy()
df[df.vote_average > df.vote_average.quantile(q=0.99)]
#df.vote_average.value_counts(normalize=True).sort_values()
#df.sort_values('vote_average', ascending=False).head(10)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [222]:
answers['27'] = 'Daniel Radcliffe, Emma Watson'

df = data.copy()
df['cast_pairs'] = df.cast.str.split('|').apply(lambda x: list(itertools.combinations(x, 2)))
df = df.explode('cast_pairs')
df.cast_pairs.value_counts().head()

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
Name: cast_pairs, dtype: int64

# Submission

In [223]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (t1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger(tt1210819)',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '23': 'Peter Jackson',
 '27': 'Daniel Radcliffe, Emma Watson',
 '8': '1478',
 '21': 'Сентябрь',
 '22': '450',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'}

In [224]:
# и убедиться что ни чего не пропустил)
len(answers)

27